# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Build
target/
build/
*.class
*.jar
*.war

# Logs
*.log

# Environment & Credentials
.env
*.env
application-local.yaml
application-local.properties
**/src/main/resources/application.properties

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar
