server:
  port: 8084

spring:
  application:
    name: review-service
  datasource:
    url: jdbc:postgresql://localhost:5432/${db.name}
    username: ${db.username}
    password: ${db.password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
